<form>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="page-header">Options</h2>
      <div style="margin-bottom: 5px;">
        <select class="form-control select-dropdown">
          <option>Default</option>
          <option>2</option>
          <option>3 </option>
        </select>
        <select class="form-control select-dropdown primary">
          <option>Primary</option>
          <option>2</option>
          <option>3 </option>
        </select>
        <select class="form-control select-dropdown success">
          <option>Success</option>
          <option>2</option>
          <option>3 </option>
        </select>
        <select class="form-control select-dropdown info">
          <option>Info</option>
          <option>2</option>
          <option>3 </option>
        </select>
        <select class="form-control select-dropdown warning">
          <option>Warning</option>
          <option>2</option>
          <option>3 </option>
        </select>
        <select class="form-control select-dropdown danger">
          <option>Danger</option>
          <option>2</option>
          <option>3 </option>
        </select>
        <select class="form-control select-dropdown link">
          <option>Link</option>
          <option>2</option>
          <option>3 </option>
        </select>
      </div>
      <div class="hidden-xs">
{% highlight html %}
<select class="select-dropdown">
  <option>Default</option>
  ...
</select>
<select class="select-dropdown primary">
  <option>Primary</option>
  ...
</select>
<select class="select-dropdown success">
  <option>Success</option>
  ...
</select>
<select class="select-dropdown info">
  <option>Info</option>
  ...
</select>
<select class="select-dropdown warning">
  <option>Warning</option>
  ...
</select>
<select class="select-dropdown danger">
  <option>Danger</option>
  ...
</select>
<select class="select-dropdown link">
  <option>Link</option>
  ...
</select>
{% endhighlight %}
      </div>
    </div>
  </div>
</form>
