<form>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="page-header">Options</h2>
      <div style="margin-bottom: 5px;">
       <input type="file" class="btn-fileinput">
       <input type="file" class="btn-fileinput primary">
       <input type="file" class="btn-fileinput success">
       <input type="file" class="btn-fileinput info">
       <input type="file" class="btn-fileinput warning">
       <input type="file" class="btn-fileinput danger">
       <input type="file" class="btn-fileinput" disabled>
      </div>
      <div class="hidden-xs">
{% highlight html %}
<input type="file" class="btn-fileinput">
<input type="file" class="btn-fileinput primary">
<input type="file" class="btn-fileinput success">
<input type="file" class="btn-fileinput info">
<input type="file" class="btn-fileinput warning">
<input type="file" class="btn-fileinput danger">
<input type="file" class="btn-fileinput" disabled>
{% endhighlight %}
      </div>
    </div>
  </div>
</form>
