<form>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="page-header">Sizing</h2>
      <div style="margin-bottom: 5px;">
       <input type="file" class="btn btn-lg btn-fileinput">
       <input type="file" class="btn btn-lg btn-fileinput primary">
      </div>
      <div style="margin-bottom: 5px;">
       <input type="file" class="btn-fileinput">
       <input type="file" class="btn-fileinput primary">
      </div>
      <div style="margin-bottom: 5px;">
       <input type="file" class="btn btn-sm btn-fileinput">
       <input type="file" class="btn btn-sm btn-fileinput primary">
      </div>
      <div style="margin-bottom: 5px;">
       <input type="file" class="btn btn-xs btn-fileinput">
       <input type="file" class="btn btn-xs btn-fileinput primary">
      </div>
      <div class="hidden-xs">
{% highlight html %}
<input type="file" class="btn btn-lg btn-fileinput">
<input type="file" class="btn-fileinput">
<input type="file" class="btn btn-sm btn-fileinput">
<input type="file" class="btn btn-xs btn-fileinput">
{% endhighlight %}
      </div>
    </div>
  </div>
</form>
