<form>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2 class="page-header">.flat</h2>
      <div class="checkbox flat">
        <label>
          <input type="checkbox" value="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus in.
        </label>
      </div>
      <div class="checkbox flat disabled">
        <label> <input type="checkbox" value="" disabled>
          Option two is disabled.
        </label>
      </div>
      <div class="hidden-xs">
{% highlight html %}
<div class="checkbox flat">
  <label> <input type="checkbox" value=""> <!-- label Text -->
  </label>
</div>
<div class="checkbox flat disabled">...</div>
{% endhighlight %}
      </div>
    </div>
    <!-- end .col -->
  </div>
</form>
